.cart {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;

  background-color: red;
  color: white;

  width: 18px;
  height: 18px;

  font-size: 12px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}