.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 32px;
  background-color: #026280;
  color: white;
}
.logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.3s;
}

.logo:hover {
  opacity: 0.8;
}

.categories {
  display: flex;
  list-style: none;
  gap: 20px;
}

.categories li {
  cursor: pointer;
}